<div class="ui container">
    <a href="/" class="header item">
        {{ title|default(titleVar) }}
    </a>
    <a href="/aboutus" class="item">About us</a>
    <a href="{{ urlFor('showpatents') }}" class="item">Patents</a>
    <div class="right menu">
        {% if isLoggedIn %}
            <form role="search" id="patent-search-form" method="post" action="{{ urlFor('_search') }}">
                <div class="field">
                    <input type="text" name="searchquery">
                    <input type="submit" name="submit" value="Search" class="positive ui button">
                </div>
            </form>
            <a href="{{ urlFor('editprofile') }}" class="item">Logged in as {{ loggedInUsername }}</a>
            <a href="{{ urlFor('logout') }}" class="item">Log out</a>
        {% else %}
            <a href="{{ urlFor('newuser') }}" class="item">Create account</a>
            <a href="/login" class="item">Log in</a>
        {% endif %}
    </div>
</div>
