{% extends 'layouts/base.twig' %}

{% block content %}
    <h2>User</h2>

    {% if user %}
        <table class="ui definition table">
            <tr>
                <td>Id</td>
                <td>{{ user.userid|e }}</td>
            </tr>

            <tr>
                <td>Username</td>
                <td>{{ user.username|e }}</td>
            </tr>

            <tr>
                <td>First Name</td>
                <td>{{ user.firstName|e }}</td>
            </tr>

            <tr>
                <td>Last Name</td>
                <td>{{ user.lastName|e }}</td>
            </tr>

            <tr>
                <td>Company</td>
                <td>{{ user.company|e }}</td>
            </tr>

            <tr>
                <td>Phone</td>
                <td>{{ user.phone|e }}</td>
            </tr>

            <tr>
                <td>Email</td>
                <td>{{ user.email|e }}</td>
             </tr>
        </table>
    {% else %}
        <div class="ui error message">
            Could not find a user with username "{{ username|e }}".
        </div>
    {% endif %}
{% endblock %}
